* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

:root {
    --Font-color: rgb(104, 131, 140);
    --icon-color: rgb(32, 201, 151);
    --active-color: rgb(132, 140, 118);
    --line-color:rgb(32, 199, 149);
}





header {
    background-size: cover;
    background-image: url(../img/imgi_13_intro-bg.jpg);

}

.home-info {
    height: 100vh;
    background-color: black;
    opacity: 70%;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    flex-direction: column;
    gap: 20px;
}

.parag-home1 {
    font-size: 32px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
}

.home-info h1 {
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
    white-space: norwrap;
}

.parag-home2 {
    font-size: 24px;
}

.home-info a {
    border: 2px solid;
    border-color: rgb(35, 130, 105);
    border-radius: 50px;
    width: 100px;
    height: 70px;
    color: var(--active-color);
    background-color: transparent;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.home-info a:hover {
    background-color: beige;
}

.icon-1 {
    background-color: teal;
    width: 25px;
    height: 35px;
    position: fixed;
    right: 0;
    top: 50%;
    z-index: 3;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    padding: 4px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.pos {
    color: white;

}

.down {
    position: absolute;
    top: 95%;
    right: 50%;
    animation: bounceDown 1s infinite;
    color: white;
    z-index: 2;


}


.about-btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-head-section h2 {
    display: flex;
    font-size: 35px;
    font-weight: 600;
    justify-content: center;
    align-items: center;

}

.about-head-section h2::before {
    content: "";
    position: absolute;
    width: 90px;
    height: 4px;
    background-color: var(--line-color);
    top: 110%;
}

.about-head-section h2::after {
    content: "ABOUT ME";
    font-size: 80px;
    color: #555;
    opacity: 0.2;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}


.about-section-1 h2 {
    font-size: 30px;
    font-weight: 600;
}

.about-section-1 h2 .about-highlight-name {
    color: var(--active-color);
    font-family: Arial, Helvetica, sans-3serif;
}

.about-section-1 p {
    font-size: 22px;
    font-weight: 300;
    margin-top: 10px;
    color: rgb(76, 77, 77);
    padding: 10px;
}

.about-section-2 {

    display: flex;
    flex-direction: column;
    justify-content: center;


}

.about-section-2 ul li {
    list-style: none;
    border-bottom: 1px solid #ccc;
    padding-bottom: 8px;
    padding: 20px;
    ;

}

.about-section-2 ul li:last-child {
    border-bottom: none;
    padding-bottom: 0;
}

.info-label {
    font-size: 24px;
    font-weight: 600;
    color: var(--active-color);
    margin-top: 10px;
}

.about-section-2 button {
    margin-top: 30px;
    margin-left: 30px;
    background-color: var(--active-color);
    font-size: 16px;
    padding: 12px 20px;
    width: 150px;
    height: 60px;
}



.about-section-3 {
    margin-top: 50px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}

.about-section-3 .about-item {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.about-section-3 .about-item h4 {
    font-size: 28px;
    font-weight: 900;
    color: var(--active-color);
    margin-bottom: 10px;
}

.about-section-3 .about-item p {
    font-size: 18px;
    font-weight: 400;
    color: rgb(76, 77, 77);
}

.about-head-section {
    margin: 70px 0;

    width: 100%;
    position: relative;

}

.about-section-3 {
    display: flex;
    justify-content: space-evenly;

}

.services-head-section {
    margin: 70px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

}

.services-head-section h2 {
    display: flex;
    font-size: 35px;
    font-weight: 600;
    justify-content: center;
    align-items: center;

}

.services-head-section h2::before {
    content: "";
    position: absolute;
    width: 90px;
    height: 4px;
    background-color: var(--line-color);
    top: 110%;
}


.services-head-section h2::after {
    content: "SERVICES";
    font-size: 80px;
    color: #555;
    opacity: 0.2;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.services-design h3 {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 10px;
}

.services-design p {
    font-size: 18px;
    color: rgb(76, 77, 77);
}

.services-section-1 {
    position: relative;
}

.services-section-1 i {
    position: absolute;
    right: 104%;
    top: 7px;
    transform: scale(1.5);

}

.services-section-1 i:hover {
    color: rgb(255, 0, 0);
}


.services-section-2 {
    position: relative;

}

.services-section-2 i {
    position: absolute;
    right: 104%;
    top: 7px;
    transform: scale(1.5);

}

.services-section-2 i:hover {
    color: rgb(255, 0, 0);
}


.services-section-3 {
    position: relative;

}

.services-section-3 i {
    position: absolute;
    right: 104%;
    top: 7px;
    transform: scale(1.5);

}

.services-section-3 i:hover {
    color: rgb(255, 0, 0);
}


.services-section-4 {
    position: relative;

}

.services-section-4 i {
    position: absolute;
    right: 104%;
    top: 7px;
    transform: scale(1.5);

}

.services-section-4 i:hover {
    color: rgb(255, 0, 0);
}

.services-section-5 {
    position: relative;

}

.services-section-5 i {
    position: absolute;
    right: 104%;
    top: 7px;
    transform: scale(1.5);

}

.services-section-5 i:hover {
    color: rgb(255, 0, 0);
}

.services-section-6 {
    position: relative;

}

.services-section-6 i {
    position: absolute;
    right: 104%;
    top: 7px;
    transform: scale(1.5);

}

.services-section-6 i:hover {
    color: rgb(255, 0, 0);
}

.summary-head-section {
    margin: 70px 0;

    width: 100%;
    position: relative;

}

.summary-head-section h2 {
    display: flex;
    font-size: 35px;
    font-weight: 600;
    justify-content: center;
    align-items: center;
}

.summary-head-section h2::before {
    content: "";
    position: absolute;
    width: 90px;
    height: 4px;
    background-color: var(--line-color);
    top: 110%;
}

.summary-head-section h2::after {
    content: "SUMMARY";
    font-size: 80px;
    color: #555;
    opacity: 0.2;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.summary-sections {
    width: 90%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.summary-design {
    width: 47%;
    margin: 20px 0;
    border: 1px solid rgba(132, 140, 118, 0.315);
    padding: 30px;
    border-radius: 5px;
    font-size: 18px;

}

.summary-design h3 {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.parag-summary-2 {
    font-size: 18px;
    color: rgb(76, 77, 77);
}

.parag-summary-1 {
    background-color: var(--active-color);
    color: white;
    font-size: 16px;
    width: fit-content;
    border: 1px solid rgba(132, 140, 118, 0.315);
    border-radius: 7px;
    border-width: 5px;
    padding: 5px 0;
    margin-bottom: 20px;
}

.parag-summary-2 {
    color: rgb(219, 53, 69);
    padding: 20px 0;
}

.footer-summary {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.skills {
    position: relative;
    width: 45%;
    margin: 10px 0;
    margin-bottom: 10px;


}

.skill-percentage {
    position: absolute;
    left: 100%;
    top: 0;

}

.summary-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.summary-container button{
    margin-top: 50px;
}

.port-head-section {
    margin: 70px 0;

    width: 100%;
    position: relative;

}
.port-head-section h2 {
    display: flex;
    font-size: 35px;
    font-weight: 600;
    justify-content: center;
    align-items: center;
}

.port-head-section h2::before {
    content: "";
    position: absolute;
    width: 90px;
    height: 4px;
    background-color: var(--line-color);
    top: 110%;
}

.port-head-section h2::after {
    content: "PORTFOLIO";
    font-size: 80px;
    color: #555;
    opacity: 0.2;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


@media (max-width:507px) {
    .home-info h1 {
        font-size: 48px;
        line-height: 1.2;

    }
}

@media (max-width:991px) {
    .services-sections {
        text-align: center;
    }
}

@media (max-width:480px) {
    .summary-design {
        text-align: center;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
}